* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* HEADER BLOCK */
.header {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    height: 140px;
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
    cursor: pointer;
}

.phone span {
    margin-left: 10px;
}

.header__container {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

.table__container {
    height: 100%;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-inner ul {
    list-style: none;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 230px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav_link {
    display: flex;

    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin: 0 15px;
}

.nav_link span {
    font-size: 14px;
}

.address {
    text-decoration: none;
    color: #fff;
}

.time_work {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    padding: 5px 20px;
    color: white;
    outline: none;
    border-width: 2px 0;
    border-radius: 50px;
    background: linear-gradient(to top, #1c92d2, #f2fcfe);
    transition: all 0.5s linear;
}

.btn a:hover {
    transition: all 0.5s linear;
    background: linear-gradient(to left, #1c92d2, #f2fcfe);
}

.contacts {
    display: flex;
}

.icons img {
    width: 50px;
    margin-left: 10px;
}

.number {
    text-align: end;
    padding-right: 12%;
}


/* MAIN BLOCK */

.bg__color {
    background: url("../../static/bg.jpg");
    background-size: cover;
    filter: invert(0.8);
    position: relative;
    height: 90vh;
}
.bg-color:before {
    content: "";
    position: absolute;
    display: block;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    top: 0;
    left: calc((100% - 1170px) / 2);
    z-index: -1;
}
.title {
    font-size: 36px;
    padding: 40px 0;
}

.table {
    display: grid;
    height: 30vh;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.table_block_name {
    font-size: 24px;
}

.table > div:not(:nth-child(3n + 1)) {
    justify-self: center;
}

.notification__container {
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.notification__container p {
    line-height: 2.4;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}


@media screen and (max-width: 1170px) {
    .bg-color:before {
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        height: 150px;
    }
    .header__logo static {
        width: 170px;
        margin: 15px 0;
    }
    .nav_link {
        letter-spacing: 0;
        margin: 0 5px;
    }
    .btn a {
        padding: 5px 10px;
    }
    .btn static {
        height: 25px;
    }
    .bg-color {
        height: auto;
    }
}

@media screen and (max-width: 520px) {
    .header {
        height: 100%;
    }
    .header-container {
        padding: 0;
    }
    .header__nav {
        margin: 0 0 15px 8px;
    }
    .header__logo {
        flex-direction: column;
        align-items: baseline;
    }

    .title {
        font-size: 32px;
    }
    .table {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .table_block_name {
        font-size: 16px;
    }
}

@media screen and (max-width: 345px) {
    .btn {
        margin: 0 0 15px 15px;
    }
    .notification__container p {
        font-size: 16px;
    }
}